$dark-blue: #2f353f;
$yellow: #fce587;
$dark-yellow: #eec331;
$half-white: rgba(255, 255, 255, 0.75);
$boxshadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
body{
  background: $dark-blue;
}

#{$WeeklyAverage-container} {
  position: relative;

  /* Write your chart styles here */
  .chart-title{
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.75)!important;
  }

  p.no-data{
    top: 50%;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0;
    margin-top: -1rem;
  }

  .domain{
  	display: none;
  }
  .axis{
  	text{
  		font-family: $font-family-sans-serif;
  		fill: $half-white;
  		font-size: .8rem;
  	}
  	line{
  		stroke-width: .7;
  		stroke: $half-white;
  	}
  }
  
  .bar.active{
  	fill: #ddd!important
  }

  position: relative;
  .labels{
  	line{
  		stroke: white;
  	}
  	text{
      fill: $half-white;
  		font-size: .8rem;
      text-shadow: 2px 2px 2px $dark-blue, 2px 2px 2px $dark-blue, 0 -2px 0 $dark-blue, -2px 0 0 $dark-blue;
      font-family: $font-family-sans-serif;
  	}
  	pointer-events: none;
  }

  .annotations-container{
  		pointer-events: none;
  		line{
  			stroke: $half-white;
  			stroke-width: .5;
  			stroke-dasharray: 5;
  		}
  		text{
        text-shadow: 2px 2px 2px $dark-blue, 2px 2px 2px $dark-blue, 0 -2px 0 $dark-blue, -2px 0 0 $dark-blue;
        fill: $half-white;
  			&.date{
  				font-weight: bold;
  				font-size: .9rem;
  			}
  			&.text{
  				font-size: .8rem;
  			}
  		}

  }
}

.mobile #{$WeeklyAverage-container}{
	.annotations-container{
  		text .date{
  			font-size: .8rem;
  		}
	}
	
}

.tooltip-inner {
  font-family: $font-family-sans-serif;
  text-align: left;
  min-width: 170px !important;

  p {
    margin-bottom: 0;
    font-family: $font-family-sans-serif;
    font-size: 0.875rem;

    &.date {
      font-weight: 600;
    }

    span.val {
      font-weight: 400;
    }
  }
}

.has-tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.custom-tooltip {
  position: absolute;
  z-index: 9999;
  display: none;
  pointer-events: none;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);

  &.tooltip-active {
    display: block;
  }

  .tooltip-inner {
    position: relative;
    border-radius: 2px;
    background: #fff;
    padding: 2px 10px;
    min-width: 220px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    @media (min-width: 400px) {
      min-width: 220px;
    }

    &:after {
      display: block;
      content: ' ';
      background: #fff;
      width: 10px;
      height: 10px;
      border-top-right-radius: 2px;
      box-shadow: 1px -2px -1px rgba(0,0,0,0.19);
      position: absolute;
    }
  }
}

.tooltip-n .tooltip-inner {
  transform: translate(-50%, 0%);
  top: 20px;
  left: 0px;

  &:after {
    top: -9px;
    left: 50%;
    transform: rotate(-45deg) translate(-50%, 0%);
  }
}

.tooltip-s .tooltip-inner {
  transform: translate(-50%, -100%);
  bottom: 20px;
  left: 0px;

  &:after {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -4px) rotate(135deg);
  }
}

.tooltip-nw .tooltip-inner {
  transform: translate(-10%, 0%);
  top: 20px;
  left: 0px;

  &:after {
    top: -9px;
    left: 10%;
    transform: rotate(-45deg) translate(-50%, 0%);
  }
}

.tooltip-ne .tooltip-inner {
  transform: translate(-90%, 0%);
  top: 20px;
  right: 0px;

  &:after {
    top: -9px;
    left: 90%;
    transform: rotate(-45deg) translate(-50%, 0%);
  }
}

.tooltip-sw .tooltip-inner {
  transform: translate(-10%, -100%);
  bottom: 20px;
  left: 0px;

  &:after {
    top: 100%;
    left: 10%;
    transform: translate(-50%, -4px) rotate(135deg);
  }
}

.tooltip-se .tooltip-inner {
  transform: translate(-90%, -100%);
  bottom: 20px;
  right: 0px;

  &:after {
    top: 100%;
    left: 90%;
    transform: translate(-50%, -4px) rotate(135deg);
  }
}

.tt-header {
  color: #4a4a4a;
  font-weight: bold;
  font-size: .9rem;
  
  width: 100%;
  display: inline-block;

  @media (max-width: 450px) {
    font-size: 12px;
  }
}

.tt-row {
  font-size: .8em;
  padding-bottom: 5px;
}

@media (max-width:650px){
	.hide-mobile{
		display: none
	}
}

@media (min-width:650px){
	.hide-desktop{
		display: none
	}
}